@import "tailwindcss";

@theme {
  --font-Inter: "Inter", serif;
  --color-bgPrimary: #002e33;
  --color-bgSecondary: #2d6a4b;
  --color-buttonColor: #a3dc2f;

  /* ... */
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif !important;
}
/* Add this to your CSS or Tailwind config */
.transition-all {
  transition: all 0.3s ease;
}

/* Smooth transitions for Framer Motion */
.motion-item {
  transition: all 0.3s ease;
}

.courses-text {
  position: relative;
  display: inline-block;
}

.courses-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 4px;
  background-color: #2d6a4b; /* Replace with your color */
}
/* Custom Scrollbar */

/* Scrollbar Thumb */
/* .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d7f0e6;
  border-radius: 20px;
  height: 30px;
} */

/* Scrollbar Track */
/* Custom scrollbar styling */
/* Firefox */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d6a4b; /* Color of the track */
  border-radius: 4px; /* Rounded corners for the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a3dc2f; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

span .icons {
  width: 20px;
  height: 20px;
  padding: 10px;
  color: #5edd60;
  background: #fff;
  border-radius: 50%;
}
